{{one-way-input
    type='checkbox'
    id=(concat id '_input')
    class='input'
    checked=isChecked
    disabled=disabled
    name=name
    readonly=readonly
    update=(action 'input')
}}
<label for='{{id}}_input' class='label'>{{yield}}</label>
