{{one-way-input
    type='checkbox'
    id=inputId
    class='input'
    checked=isChecked
    disabled=disabled
    name=name
    readonly=readonly
    update=(action 'input')
}}
<label for={{inputId}} class='label'>{{yield}}</label>
