.frost-checkbox {
  display: inline-block;
  position: relative;

  .input[type=checkbox] {
      position: absolute;
      top: 2px;
      left: 2px;
      outline: none;
  }

  .input:focus + .label::before {
    border: 1px solid darken($frost-color-grey-6, 5%);
    background-image: linear-gradient(lighten($frost-color-blue-1, 50%), lighten($frost-color-blue-1, 45%));
  }

  .label::before {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    background-image: linear-gradient(white, $frost-color-lgrey-5);
    margin-right: 5px;
    border: 1px solid $frost-color-lgrey-1;
    vertical-align: middle;
    content: "";
  }

  .label.label:hover::before{
    background-color: $frost-color-blue-2;  //FIXME Not $frost-color-x convention
  }

  svg {
    visibility: hidden;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0px;
    fill: $frost-color-blue-1;
  }
  
  .input:checked + .label svg {
    visibility: visible;
  }

  .label {
    display: inline-block;
    position: relative;
    font-size: $frost-font-s;
    color: $frost-color-grey-5;
    user-select: none;
  }
}
