<div style="padding: 30px 0 10px 20px;">Basic</div>

<div style="padding: 10px 20px;">
  {{frost-checkbox id="basic"}}
</div>

<div style="padding: 30px 0 10px 20px;">Label</div>

<div style="padding: 10px 20px;">
  {{#frost-checkbox id="label"}}label{{/frost-checkbox}}
</div>

<div style="padding: 30px 0 10px 20px;">Attributes</div>

<div style="padding: 10px 20px;">
  {{#frost-checkbox
    id="autofocus" autofocus=true}}autofocus{{/frost-checkbox}}
</div>

<div style="padding: 10px 20px;">
  {{#frost-checkbox
    id="checked"
    checked=true}}checked{{/frost-checkbox}}
</div>

<div style="padding: 10px 20px;">
  {{#frost-checkbox
    id="disabled"
    disabled=true
    checked=true}}disabled{{/frost-checkbox}}
</div>

<div style="padding: 10px 20px;">
  {{#frost-checkbox
    id="name"
    name="name"}}name{{/frost-checkbox}}
</div>

<div style="padding: 10px 20px;">
  {{#frost-checkbox
    id="value"
    value="value"
    on-input=(action "value")}}value{{/frost-checkbox}}
</div>
<div style="padding: 10px 20px;">
  {{#frost-checkbox
    id="errored"
    classNameBindings="error"
    value="value"
    on-input=(action "value")}}errored{{/frost-checkbox}}
  {{#frost-button
    class="small secondary"
    on-click=(action "toggleError")
  }}
    <div class="text">Toggle error</div>
  {{/frost-button}}

</div>
